.card-title {
    font-weight: bold;
}

.card-text {
    text-align: justify;
    color: gray;
}

.card-footer {
    font-size: 12px;
    background-color: white;
}

.card-img-top{
    width: 200px;
    height: 200px;
}