@{
    ViewData["Title"] = "JsonTest";
}

@section Styles {
    <link href="~/css/spotstylesheet.min.css" rel="stylesheet" />
}   


<h1>作業1: Spot</h1>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">返回首頁</a>
<ul id="ul1">
</ul>

@* <div class="card" style="width: 18rem;">
    <img src="~/img/chiikawa.png" class="card-img-top" alt="spotName">
    <div class="card-body">
        <h5 class="card-title">Spottitle</h5>
        <p class="card-text">範例(TextBody)</p>
        <footer class="card-text">Address</footer>
    </div>
</div> *@

<div class="container mt-4">
    <div id="spot" class="row">
        <!-- Card -->
    </div>
</div>


@section Scripts {

    <script id="spotlist" src="~/js/travel.js"></script>
    <script>
        console.log(spots);
        const spotContainer = document.querySelector('#spot');


        const eleSpots = spots.CommonFormat.Section.map(spot => {
            const { stitle, xbody, address,file } = spot;

            const imgKeys = Object.keys(file.img || {});
            // const firstImg = imgKeys.length > 0 ? file.img[imgKeys[0]] : {};
            //示範:  const imgSrc = section.file?.img?.[0]?.text ?? section.file?.img?.text ?? '';
            const firstImg = spot.file?.img?.[0]?.text ?? spot.file?.img?.text ?? '';
         
            return (
                `
                <div class="col-md-4 mb-4">
                <div id="card" class="card" style="width: 18rem;">
               <img src="${firstImg}" class="card-img-top" alt="${stitle}" title="${stitle}">
                <div class="card-body">
                <h5 class="card-title">${stitle}</h5>
                <p class="card-text">${xbody.substring(0, 51)}...</p>
                <p class="card-footer">${address}</p>
                </div>
                </div>
                </div>
                `
            );
        });
        spotContainer.innerHTML = eleSpots.join("");


        spotContainer.addEventListener('click', function (event) {
        });


    </script>
}